<html>
<head>
<title>Scanning Log</title>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>
<div id="scanlog">
<h1>Scanning Log</h1>

<div class="alert alert-danger alert-dismissible" role="alert" id="error" style="display:none;">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <strong>Error!</strong> Something went wrong! Please try again.
</div>
<form role="form" id="scanform" method="post"><!--  action="/exportform" -->
	<div class="form-group">
		<label for="subject">Subject:</label>
		<input type="text" class="form-control" id="subject" name="subject">
	</div>

	<div class="form-group">
		<label for="operator">Operator:</label>
		<input type="text" class="form-control" id="operator" name="operator">
	</div>

	<div class="form-group">
		<label for="notes">Notes:</label>
 		<textarea class="form-control" rows="5" id="notes" name="notes"></textarea>
 	</div>

 	<div id="runs">
 	<label>Runs:</label>
 	<ul id="runlist" name="runlist">
	</ul>
	<div class="form-group">
 	<button type="button" class="btn .btn-default" id="addrunbtn">Add run</button>
 	</div>
 	</div>

<button id="exportbtn" class="btn btn-primary" type="submit">Export data</button>
</form>
</div>

<div id="copyoutput" class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" id="close_copyoutput">&times;</button>
            <h4 class="modal-title">Export data</h4>
        </div>
        <div class="modal-body">
            <textarea id="outputtext"></textarea>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" id="copydata">
			Copy data to clipboard
		</button>
        </div>
    </div>
</div>

<script type="text/javascript" src="{{ url_for('static', filename='main.js') }}"></script>
</body>
</html>